// color palette - these colors will be the color swatches of the Colors section

$color-1: #094b1a; // Hunter Green - Action color
$color-2: #031709; // Rich Black (very dark green)
$color-3: #7d3834; // Medium Tuscan Red
$color-4: #c3a4a2; // Silver Pink
$color-5: #e9ebea; // Isabelline (almost white)

// links

$link-color: lighten($color-1, 20%);
$visited-link-color: lighten($color-3, 20%);
$hover-link-color: $color-4;
$active-link-color: lighten($color-3, 50%);

// additional colors

$success: #6fce72; // green
$alert: $color-3; // red
