<<<<<<< HEAD
// color palette - these colors will be the color swatches of the Colors section

$color-1: #094b1a; // Pine Green - Action color
$color-2: #031709; // Dark Green
$color-3: #7d3834; // Red
$color-4: #c3a4a2; // light grey
$color-5: #e9ebea; // white

// additional colors

$success: #6fce72; // green
$alert: $color-3; // red
=======
// color palette - these colors will be the color swatches of the Colors section

$color-1: #094b1a; // Pine Green - Action color
$color-2: #031709; // Dark Green
$color-3: #7d3834; // Red
$color-4: #c3a4a2; // light grey
$color-5: #e9ebea; // white

// additional colors

$success: #6fce72; // green
$alert: $color-3; // red
>>>>>>> 1st commit
