// Zen Garden style scss file

@import 'partials/reset';
@import 'partials/layout';

// Colors

@import 'partials/color-palette';

// Typography
@import 'partials/typography';

// Links
@import 'partials/navigation';

// Layout
@import 'mixins/def-grid';

//Large screen 

@include MQ(L) {
  .page-wrapper {
  display: grid;
  grid-template-rows: repeat(8, auto);
  grid-template-columns: repeat(8, auto);
  }

  .intro {
    grid-row: 1 / 5;
    grid-column: 1 / 9;
    @include defgrid(4,8);
      }

  //intro sub-grid 
  .intro header {
    grid-row: 1 / 3 ;
    grid-column: 1 / 7;
    justify-self: left;
    align-self: start;
  }
  
   .intro header::after {
    display: block;
    width: 25%;
    height: auto;
    //margin: auto;
    content: url(../assets/santa-sleigh.svg);
    animation: fly 15s ease-in-out infinite;
  } 

  @keyframes fly {
    0% { transform: translateX(0);}
    40% { transform: translateX(300%);}
    45% { transform: translateX(300%) rotateY(180deg);}
    90% { transform: translate(0) rotateY(180deg);}
    100% {transfor: translate(0);}
  }

  .intro header h1::before {
    content: "A ";
  }

  .intro header>h1::after {
    content: " Christmas";
  }

  .summary {
    grid-row: 1 / 2;
    grid-column: 7 / 9;
    justify-self: right;
    align-self: start;
    background-color: #c3a4a2;
  }
  
  .preamble {
    grid-row: 3 / 5;
    grid-column: 1 / 9;
    justify-self: left;
    align-self: stretch;
  }

  .preamble::before {
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
    background-color: $color-5;
    content: url(../assets/rooftops.svg);
  } 

  //end of intro sub-grid

  .sidebar {
    grid-row: 5 / -1;
    grid-column: 1 / 3;
    padding: 15px;
    display: flex;
    flex-direction: column;
  }

  .sidebar::after {
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    content: url(../assets/tree.svg);
  }

  .main {
    grid-row: 5 / -1;
    grid-column: 3 / -1;
    @include defgrid(5,6);
  }

  //main subgrid
  .explanation {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
  }

  .explanation::after {
    display: block;
    width: 35%;
    height: auto;
    margin: auto;
    content: url(../assets/gift1.svg);
  }

  .participation {
    grid-column: 4 / -1;
    grid-row: 1 / 2;
  }

  .participation::before {
    display: block;
    width: 55%;
    height: auto;
    margin: auto;
    content: url(../assets/tree-group.svg);
  }

  .participation::after {
    display: block;
    width: 35%;
    height: auto;
    margin: auto;
    content: url(../assets/holly.svg);
  }

  .benefits {
    grid-column: 1 / -1;
    grid-row: 2 / 4;
    justify-self: start;
  }

  .benefits::after {
    display: block;
    width: 15%;
    height: auto;
    margin: auto;
    content: url(../assets/ornament4.svg)
  }

  .requirements {
    grid-column: 1 / -1;
    grid-row: 4 / -2;
    align-self: start;
  }

  .main footer {
    grid-column: 1 / -1;
    grid-row: -2 / -1;
    align-self: end;
    display: flex;
    justify-items: space-between;
  }

  // end of main sub-grid
}
// End of large screen
//Small screen

@include MQ(S) {
  .page-wrapper {
    @include defgrid(8,2);
  }
  
  .intro {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    @include defgrid(3,2);
  }

  //intro sub-grid 
  .intro header {
    grid-row: 1 / 1;
    grid-column: 1 / 3;
    justify-self: center;
  }

  .intro header::after {
    display: block;
    width: 25%;
    height: auto;
    //margin: auto;
    content: url(../assets/santa-sleigh.svg);
    animation: smallfly 15s ease-in-out infinite;
  } 

  @keyframes smallfly {
    0% { transform: translateX(0);}
    40% { transform: translateX(300%);}
    45% { transform: translateX(300%) rotateY(180deg);}
    90% { transform: translate(0) rotateY(180deg);}
    100% {transfor: translate(0);}
  }

  .intro header h1::before {
    content: "A ";
  }

  .intro header>h1::after {
    content: " Christmas";
  }

  .summary {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }

  .summary::before {
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
    background-color: $color-5;
    content: url(../assets/rooftops.svg);
  }
  
  .preamble {
    grid-row: 3 / -1;
    grid-column: 1 / -1;
  }
  //end intro subgrid
  
  .main {
    grid-column: 1 / 3;
    grid-row: 3 / -2 ;
    @include defgrid(7,1);
  }
  
  //main subgrid
  .explanation {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .explanation::before {
    display: block;
    width: 33%;
    height: auto;
    margin: auto;
    content: url(../assets/ornament4.svg);
  }
  
  .participation {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .participation::before {
    display: block;
    width: 33%;
    height: auto;
    margin: auto;
    content: url(../assets/tree-group.svg);
  }
  
  .benefits {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .benefits::before {
    display: block;
    width: 33%;
    height: auto;
    margin: auto;
    content: url(../assets/holly.svg)
  }
  
  .requirements {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    align-self: start;
  }

  .requirements::before {
    display: block;
    width: 33%;
    height: auto;
    margin: auto;
    content: url(../assets/gift2.svg);
  }
  
  .main footer {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    align-self: bottom;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
  }
  
    // end of main sub-grid
  
    .sidebar{
    grid-row: -2 / -1;
    grid-column: 1 / 3;
    display: flex;
    align-self: end;
  }

}